body {
    text-align: center;
    background-color: #2a4561;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #e2d6a1;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: rgb(224, 117, 117);
  }
  
  .green {
    background-color: rgb(69, 124, 69);
  }
  
  .blue {
    background-color: rgb(141, 141, 246);
  }
  
  .yellow {
    background-color: rgb(253, 253, 122);
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  